<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>
        Cadastrar candidato
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p-steps
        [model]="items"
        [(activeIndex)]="activeIndex"
        [readonly]="true"
      ></p-steps>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-container *ngIf="activeIndex === 0">
        <app-primeiro-passo
          [candidato]="candidato"
          (candidatoCriado)="patchCandidato($event)"
        ></app-primeiro-passo>
      </ng-container>

      <ng-container *ngIf="activeIndex === 1">
        <app-segundo-passo [candidato]="candidato"></app-segundo-passo>
      </ng-container>
      
      <ng-container *ngIf="activeIndex === 2">
        <app-terceiro-passo [candidato]="candidato"></app-terceiro-passo>
      </ng-container>
    </div>
  </div>
</div>
