<div class="row">
  <div class="col-12">
    <h3 class="title">
      Cadastrar candidato
    </h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p-steps
        [model]="items"
        [(activeIndex)]="activeIndex"
        [readonly]="true"
      ></p-steps>
    </div>
  </div>
  <div class="row">
    <div class="col-12 box">
      <ng-container [ngSwitch]="activeIndex">
        <app-primeiro-passo
          *ngSwitchDefault
          [candidato]="candidato"
          (candidatoCriado)="preencherDadosPrivadosCandidato($event)"
        ></app-primeiro-passo>

        <app-segundo-passo
          *ngSwitchCase="'1'"
          [candidato]="candidato"
          (candidatoCriado)="preencherDadosPublicosCandidato($event)"
        ></app-segundo-passo>

        <app-terceiro-passo
          *ngSwitchCase="'2'"
          [candidato]="candidato"
          (emitirFotoCandidato)="preencherImagemCandidato($event)"
        ></app-terceiro-passo>

        <app-quarto-passo
          *ngSwitchCase="'3'"
          [candidato]="candidato"
        ></app-quarto-passo>
      </ng-container>
    </div>
  </div>
</div>
