<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>
        Cadastrar candidato
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p-steps
        [model]="items"
        [(activeIndex)]="activeIndex"
        [readonly]="true"
      ></p-steps>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-container [ngSwitch]="activeIndex">
        <app-primeiro-passo
          *ngSwitchDefault
          [candidato]="candidato"
          (candidatoCriado)="preencherDadosPrivadosCandidato($event)"
        ></app-primeiro-passo>

        <app-segundo-passo
          *ngSwitchCase="'1'"
          [candidato]="candidato"
          (candidatoCriado)="preencherDadosPublicosCandidato($event)"
        ></app-segundo-passo>

        <app-terceiro-passo
          *ngSwitchCase="'2'"
          [candidato]="candidato"
        ></app-terceiro-passo>
      </ng-container>
      <!-- <ng-container *ngIf="activeIndex === 0">
        <app-primeiro-passo
          
        ></app-primeiro-passo>
      </ng-container>

      <ng-container *ngIf="activeIndex === 1">
        <app-segundo-passo></app-segundo-passo>
      </ng-container>
      
      <ng-container *ngIf="activeIndex === 2">
        <app-terceiro-passo [candidato]="candidato"></app-terceiro-passo>
      </ng-container> -->
    </div>
  </div>
</div>
