<div class="row">
  <div class="col-12">
    <h3 class="title">
      Lista de candidatos
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul *ngIf="candidatos" class="no-padding">
      <li
        *ngFor="let candidato of candidatos; let i = index"
        class="col-md-4 col-sm-12"
      >
        <div class="card">
          <div class="row">
            <div class="col-3">
              <img
                src="{{
                  candidato.thumbnail
                    ? candidato.thumbnail
                    : '/assets/img/default-user.png'
                }}"
                alt="foto-3x4"
              />
            </div>
            <div class="col-9">
              <div class="card-body">
                <h5 class="card-title">
                  {{ i + 1 }} -
                  {{
                    candidato.dadosPrivados.nomeSocial ||
                      candidato.dadosPrivados.nome
                  }}
                </h5>
                <p class="card-text">
                  {{ candidato.dadosPublicos.contato.email }}
                </p>
                <p class="card-text">
                  <small class="text-muted"></small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- <div class="row">
  <div class="col-12">
    <app-mostrar-dados-candidatos [candidato]="candidato"></app-mostrar-dados-candidatos>
  </div>
</div> -->
