ul {
  text-align: center;
  padding: 0;
  li {
    display: inline-block;
    margin: 15px;
    .card {
      max-height: 150px;
      img {
        height: 135px;
        width: auto;
      }
    }
  }
}
