.title {
  margin: 8px 0;
  padding: 0.5rem 2rem;
}
ul {
  text-align: justify;
  padding: 0;
  li {
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    .card {
      &:hover {
        border: 1px solid #836fff;
      }
      &-body {
        text-align: left;
        padding: 5px;
      }
      &-title {
        margin-bottom: 5px;
      }
      &-text {
        margin-bottom: 0;
      }
      img {
        height: 65px;
        width: 100%;
        display: block;
        margin: auto 0;
      }
    }
  }
}
