<div class="container">
  <div class="row">
    <div class="col-12">
      <h3>
        Lista de candidatos
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ul *ngIf="candidatos" class="no-padding">
        <li *ngFor="let candidato of candidatos; let i = index">
          <!-- <div class="card">
      <img
        src="{{
          candidato.thumbnail
            ? candidato.thumbnail
            : '/assets/img/default-user.png'
        }}"
        class="card-img-top"
        alt="foto-3x4"
      />      
      <div class="card-body">
        <a href="#" [routerLink]="['/candidato', candidato.id]">
          <h5 class="card-title">
            {{ i + 1 }} - {{ candidato.dadosPrivados.nome }}
          </h5>
        </a>
      </div>
    </div> -->
          <div class="card mb-12">
            <div class="row no-gutters">
              <div class="col-md-2">
                <img
                  src="{{
                    candidato.thumbnail
                      ? candidato.thumbnail
                      : '/assets/img/default-user.png'
                  }}"
                  class="card-img-top"
                  alt="foto-3x4"
                />
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title">
                    {{ i + 1 }} - {{ candidato.dadosPrivados.nome }}
                  </h5>
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<app-mostrar-dados-candidatos></app-mostrar-dados-candidatos>
