<div class="row">
  <div class="col-lg-8 col-md-12 helpers-centered">
    <h4>
      Dados básicos
    </h4>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-md-12 helpers-centered shadow">
    <form [formGroup]="candidatoForm" (submit)="submit()">
      <app-general-input
        [fieldLabel]="'Nome'"
        formControlName="nome"
        [placeholderText]="'Digite seu nome'"
        [errorMessage]="
          candidatoForm.get('nome').dirty && candidatoForm.get('nome').errors
            ? 'Campo Obrigatório!'
            : null
        "
      ></app-general-input>

      <div class="row">
        <div class="form-group col-12">
          <div class="form-check form-check-inline">
            <input
              formControlName="sexo"
              class="form-check-input"
              type="radio"
              id="masculino"
              value="masculino"
              checked
            />
            <label
              class="form-check-label helpers-color-default helpers-size-16"
              for="masculino"
            >
              Masculino
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              formControlName="sexo"
              class="form-check-input"
              type="radio"
              id="feminino"
              value="feminino"
            />
            <label
              class="form-check-label helpers-color-default helpers-size-16"
              for="feminino"
            >
              Feminino
            </label>
          </div>
        </div>
      </div>

      <app-general-input
        [fieldLabel]="'Nome Social'"
        formControlName="nomeSocial"
        [placeholderText]="'Digite seu nome social'"
      ></app-general-input>

      <div class="row">
        <div class="col-6">
          <app-general-input
            [fieldLabel]="'CPF'"
            formControlName="cpf"
            [placeholderText]="'Digite seu cpf'"
            [errorMessage]="
              candidatoForm.get('cpf').dirty && candidatoForm.get('cpf').errors
                ? 'Campo Obrigatório!'
                : null
            "
          ></app-general-input>
        </div>
        <div class="col-6">
          <app-general-input
            formControlName="rg"
            [fieldLabel]="'RG'"
            [placeholderText]="'Digite seu RG'"
            [errorMessage]="
              candidatoForm.get('rg').dirty && candidatoForm.get('rg').errors
                ? 'Campo obrigatório!'
                : null
            "
          ></app-general-input>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <app-general-input
            [fieldLabel]="'Órgao Expedidor'"
            formControlName="orgaoExpedidor"
            [placeholderText]="'Digite o órgao expedidor, ex.: SSP'"
            [errorMessage]="
              candidatoForm.get('orgaoExpedidor').dirty &&
              candidatoForm.get('orgaoExpedidor').errors
                ? 'Campo Obrigatório!'
                : null
            "
          ></app-general-input>
        </div>
        <div class="col-6">
          <app-general-input
            formControlName="estadoExpedidor"
            [fieldLabel]="'Estado expedidor'"
            [placeholderText]="'Digite o Estado expedidor'"
          ></app-general-input>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label>Data de emissão </label>
            <div class="col-12 no-padding">
              <p-calendar
                formControlName="dataDeEmissao"
                [placeholder]="'dd/mm/aaaa'"
              ></p-calendar>
            </div>
          </div>
        </div>
        <div class="col-6">
          <app-general-input
            formControlName="nis"
            [fieldLabel]="'Nis (Número de Identificação Social)'"
            [placeholderText]="'Digite o seu NIS'"
          ></app-general-input>
        </div>
      </div>

      <app-general-input
        [fieldLabel]="'Nome da mãe'"
        formControlName="nomeDaMae"
        [placeholderText]="'Digite o nome da sua mãe'"
      ></app-general-input>

      <app-general-input
        [fieldLabel]="'Nome do pai'"
        formControlName="nomeDoPai"
        [placeholderText]="'Digite o nome do seu pai'"
      ></app-general-input>

      <app-general-input
        [fieldLabel]="'Título de eleitor'"
        formControlName="tituloDeEleitor"
        [placeholderText]="'Digite o número do seu título de eleitor'"
      ></app-general-input>

      <div class="form-group">
        <label>Data de nascimento </label>
        <div class="col-6 no-padding">
          <p-calendar
            formControlName="dataDeNascimento"
            [placeholder]="'dd/mm/aaaa'"
          ></p-calendar>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <button
            type="reset"
            class="btn btn-outline-warning"
            [style.width.%]="100"
          >
            Limpar campos
          </button>
        </div>
        <div class="col-lg-6 col-sm-12">
          <button type="submit" class="btn btn-primary" [style.width.%]="100">
            Salvar!
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
