<div *ngIf="candidato" class="box">
  <div class="row">
    <div class="col-6">
      <h5>Dados Privados</h5>
      <dl *ngFor="let item of candidato.dadosPrivados | keyvalue">
        <dt>{{ item.key | formatLabelPipe }}:</dt>
        <dd>{{ item.value ? item.value : "-" }}</dd>
      </dl>

      <h5>Contato</h5>
      <dl *ngFor="let item of candidato.dadosPublicos.contato | keyvalue">
        <dt>{{ item.key | formatLabelPipe }}:</dt>
        <dd>{{ item.value ? item.value : "-" }}</dd>
      </dl>
    </div>
    <div class="col-6">
      <h5>Dados Públicos</h5>
      <dl *ngFor="let item of candidato.dadosPublicos | keyvalue">
        <ng-container *ngIf="item.key !== 'contato' && item.key !== 'endereco'">
          <dt>{{ item.key | formatLabelPipe }}:</dt>
          <dd>{{ item.value ? item.value : "-" }}</dd>
        </ng-container>
      </dl>

      <h5>Endereço</h5>
      <dl *ngFor="let item of candidato.dadosPublicos.endereco | keyvalue">
        <dt>{{ item.key | formatLabelPipe }}:</dt>
        <dd>{{ item.value ? item.value : "-" }}</dd>
      </dl>
    </div>
  </div>
</div>
