.termo-aceite {
  background-color: #fafafa;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #e9ecef;
  padding: 15px;
  text-align: justify;
}

.check {
  margin: 1rem 0;
  label {
    margin-left: 5px;
  }
}
