<div class="row">
  <div
    class="col-lg-8 col-md-12 helpers-centered shadow helpers-padding-tb helpers-bg-white"
  >
    <h4>
      Confirmação
    </h4>
    <div class="alert alert-success" role="alert" *ngIf="showAlert">
        Candidato inscrito com sucesso!
      </div>
  
      
    <div class="row">
      <div class="col-12">
        <div class="termo-aceite">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum. Sed ut
          perspiciatis unde omnis iste natus error sit voluptatem accusantium
          doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
          inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo. <br/>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut
          odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
          voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum
          quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
          eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat
          voluptatem. <br/>Ut enim ad minima veniam, quis nostrum exercitationem
          ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
          consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate
          velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum
          fugiat quo voluptas nulla pariatu. Neque porro quisquam est, qui
          dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed
          quia non numquam eius modi tempora incidunt ut labore et dolore magnam
          aliquam quaerat voluptatem. <br/>Ut enim ad minima veniam, quis nostrum
          exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex
          ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in
          ea voluptate velit esse quam nihil molestiae consequatur, vel illum
          qui dolorem eum fugiat quo voluptas nulla pariatu.
        </div>

        <div class="check">
          <input id="checkTermo" type="checkbox" [(ngModel)]="isConfirmado" />
          <label for="checkTermo">
            Declaro ter lido as informações acima, a resolução nº x/xx
          </label>
        </div>
      </div>
    </div>

    <div class="col-lg-12 col-sm-12">
      <button
        *ngIf="!showAlert"
        (click)="concluir()"
        class="btn btn-primary"
        [style.width.%]="100"
        [disabled]="!isConfirmado"
      >
        Concluir!
      </button>

      <button
        *ngIf="showAlert"
        (click)="voltarParaPaginaInicial()"
        class="btn btn-primary"
        [style.width.%]="100"
      >
        Voltar para página inicial!
      </button>
    </div>
  </div>
</div>
