<div class="row">
  <div
    class="col-lg-8 col-md-12 helpers-centered shadow helpers-padding-tb helpers-bg-white"
  >
    <h4>
      Conferência
    </h4>
    <p>
      Por favor, verifique se os dados abaixo estão corretos:
    </p>
    <div class="row">
      <div class="col-12">
        <app-mostrar-dados-candidatos
          [candidato]="candidato"
        ></app-mostrar-dados-candidatos>
      </div>
    </div>

    <div class="col-lg-12 col-sm-12">
      <button
        (click)="submit()"
        class="btn btn-primary"
        [style.width.%]="100"
        [disabled]="!arquivoSelecionado"
      >
        Confirmar!
      </button>
    </div>
  </div>
</div>
