<div class="row">
  <div
    class="col-lg-8 col-md-12 helpers-centered shadow helpers-padding-tb helpers-bg-white"
  >
    <h4>
      Identificação
    </h4>

    <div class="col-lg-6 col-sm-12 form-group no-padding">
      <label>Anexar foto 3x4</label>
      <input
        type="file"
        (change)="onFileChanged($event)"
        #fileInput
        class="d-none"
      />
    </div>

    <div *ngIf="arquivoSelecionado">
      <img src="{{ arquivoSelecionado }}" alt="" id="img" />
      <div class="legend">Imagem: {{ nomeArquivoSelecionado }}</div>
      <small *ngIf="!!errorMessage" class="form-text text-danger legend">{{ errorMessage }}</small>
    </div>

    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <button
          (click)="fileInput.click()"
          class="btn btn-outline-primary"
          [style.width.%]="100"
        >
          Selecione um arquivo de imagem
        </button>
      </div>
      <div class="col-lg-6 col-sm-12">
        <button
          (click)="submit()"
          class="btn btn-primary"
          [style.width.%]="100"
          [disabled]="!arquivoSelecionado"
        >
          Salvar!
        </button>
      </div>
    </div>
  </div>
</div>
