.homepage {
  height: 100%;
}
header,
footer {
  background-color: white;
  background-image: linear-gradient(90deg, #007ad929, #836fff);
  padding: 0.5rem 2rem;
  z-index: 2;
}
header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  > a {
    &:hover {
      text-decoration: none;
    }
  }
  .nav {
    .nav-item {
      .nav-link {
        color: #495057;
        padding: 0.5rem 0 0.5rem 2rem;
      }
    }
  }
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;

  p {
    color: #495057;
    text-align: center;
    margin-bottom: 0;
  }
}
