<!-- <pre>
"cpf": "45589569087", "rg": "493806994",
"nome": "Luke Skywalker", "sexo": "masculino",
"nis": "", "orgaoExpedidor": "SSP",
"estadoExpedidor": "", "dataDeEmissao": "2000-01-01",
"nomeDaMae": "Padamé Amidala", "nomeDoPai": "Anakin Skywalker",
"nomeSocial": "", "dataDeNascimento": "1977-05-19",
"tituloDeEleitor": ""
</pre> -->
<nav>
  <a routerLink="home"> Home Component</a> <br />
  <a routerLink="cadastro"> criar candidato</a><br />
  <a routerLink="listar-candidatos"> Listar candidatos</a>
</nav>
<router-outlet></router-outlet>
