<div>
  <h4>
    Segundo passo
  </h4>
</div>
<form #dadosPublicos>
  <div>
    <label>A</label>
    <input />
  </div>
  <div>
    <label>A</label>
    <input />
  </div>
  <div>
    <label>A</label>
    <input />
  </div>
  <div>
    <label>A</label>
    <input />
  </div>
  <div>
    <label>A</label>
    <input />
  </div>
  <div>
    <label>A</label>
    <input />
  </div>
  <div>
    <label>A</label>
    <input />
  </div>
  <div>
    <label>A</label>
    <input />
  </div>
  <div>
    <label>A</label>
    <input />
  </div>
  <div>
    <label>A</label>
    <input />
  </div>
  <div>
    <label>A</label>
    <input />
  </div>
  <div>
    <label>A</label>
    <input />
  </div>
  <div>
    <label>A</label>
    <input />
  </div>
  <div>
    <label>A</label>
    <input />
  </div>
</form>
