<div class="row">
  <div
    class="col-lg-8 col-md-12 helpers-centered shadow helpers-padding-tb helpers-bg-white"
  >
    <h4>
      Dados complementares
    </h4>
    <form [formGroup]="candidatoForm" (submit)="submit()">
      <div class="row">
        <div class="col-lg-6 col-sm-12 form-group">
          <label>Estado Civil </label>
          <select class="custom-select" formControlName="estadoCivil">
            <option value="solteiro" selected>Solteiro</option>
            <option value="casado">Casado</option>
            <option value="separado">Separado</option>
            <option value="divorciado">Divorciado</option>
            <option value="viuvo">Viúvo</option>
          </select>
        </div>

        <div class="col-lg-6 col-sm-12 form-group">
          <label>Grau de escolaridade </label>
          <select class="custom-select" formControlName="grauDeEscolaridade">
            <option value="ensino_fundamental_incompleto" selected
              >Ensino fundamental incompleto</option
            >
            <option value="ensino_fundamental_completo"
              >Ensino fundamental completo</option
            >
            <option value="ensino_medio_incompleto"
              >Ensino médio incompleto</option
            >
            <option value="ensino_medio_completo">Ensino médio Completo</option>
            <option value="ensino_superior_incompleto"
              >Ensino superior incompleto</option
            >
            <option value="ensino_superior_completo"
              >Ensino superior completo</option
            >
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-sm-12 form-group">
          <app-general-input
            [fieldLabel]="'Quantidade de filhos'"
            formControlName="quantidadeDeFilhos"
            [placeholderText]="'Digite a quantidade de filhos'"
            [errorMessage]="
              candidatoForm.get('quantidadeDeFilhos').dirty &&
              candidatoForm.get('quantidadeDeFilhos').errors
                ? 'Campo Obrigatório!'
                : null
            "
          ></app-general-input>
        </div>

        <div class="col-lg-6 col-sm-12 form-group d-flex">
          <div class="form-check">
            <input
              class="form-check-input"
              formControlName="sabatista"
              type="checkbox"
              value="true"
              id="sabatista"
            />
            <label class="form-check-label" for="sabatista">
              Sabatista
            </label>
          </div>
        </div>
      </div>

      <ng-container formGroupName="endereco">
        <h5>
          Endereço
        </h5>

        <app-general-input
          [fieldLabel]="'Rua'"
          formControlName="rua"
          [placeholderText]="'Digite o nome da sua rua'"
          [errorMessage]="
            formEndereco.controls['rua'].dirty &&
            formEndereco.controls['rua'].errors
              ? 'Campo Obrigatório!'
              : null
          "
        ></app-general-input>

        <div class="row">
          <div class="col-6">
            <app-general-input
              [fieldLabel]="'Número'"
              formControlName="numero"
              [placeholderText]="'Digite o número'"
              [errorMessage]="
                formEndereco.controls['numero'].dirty &&
                formEndereco.controls['numero'].errors
                  ? 'Campo Obrigatório!'
                  : null
              "
            ></app-general-input>
          </div>

          <div class="col-6">
            <app-general-input
              formControlName="bairro"
              [fieldLabel]="'Bairro'"
              [placeholderText]="'Digite o nome do seu bairro'"
              [errorMessage]="
                formEndereco.controls['bairro'].dirty &&
                formEndereco.controls['bairro'].errors
                  ? 'Campo obrigatório!'
                  : null
              "
            ></app-general-input>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <app-general-input
              [fieldLabel]="'Cidade'"
              formControlName="cidade"
              [placeholderText]="'Digite o nome da sua cidade'"
              [errorMessage]="
                formEndereco.controls['cidade'].dirty &&
                formEndereco.controls['cidade'].errors
                  ? 'Campo Obrigatório!'
                  : null
              "
            ></app-general-input>
          </div>

          <div class="col-6">
            <app-general-input
              formControlName="estado"
              [fieldLabel]="'Estado'"
              [placeholderText]="'Digite o nome do estado, ex.: PR'"
              [errorMessage]="
                formEndereco.controls['estado'].dirty &&
                formEndereco.controls['estado'].errors
                  ? 'Campo Obrigatório!'
                  : null
              "
            ></app-general-input>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <app-general-input
              formControlName="cep"
              [fieldLabel]="'CEP'"
              [placeholderText]="'Digite o CEP'"
            ></app-general-input>
          </div>

          <div class="col-6">
            <app-general-input
              formControlName="complemento"
              [fieldLabel]="'Complemento'"
              [placeholderText]="'Digite o complemento'"
            ></app-general-input>
          </div>
        </div>
      </ng-container>

      <ng-container formGroupName="contato">
        <h5>
          Contato
        </h5>

        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <app-general-input
                formControlName="email"
                [fieldLabel]="'E-mail'"
                [placeholderText]="'Digite o e-mail'"
                [errorMessage]="
                  formContato.controls['email'].dirty &&
                  formContato.controls['email'].errors
                    ? 'Por favor, digite um e-mail válido!'
                    : null
                "
              ></app-general-input>
            </div>
          </div>
          <div class="col-6">
            <app-general-input
              formControlName="telefone"
              [fieldLabel]="'Telefone'"
              [placeholderText]="'Digite o seu telefone'"
            ></app-general-input>
          </div>
        </div>
        
        <div class="row">
          <div class="col-6">
            <app-general-input
              [fieldLabel]="'Celular'"
              formControlName="celular"
              [placeholderText]="'Digite o seu celular'"
              [errorMessage]="
                formContato.controls['celular'].dirty &&
                formContato.controls['celular'].errors
                  ? 'Campo Obrigatório!'
                  : null
              "
            ></app-general-input>
          </div>
        </div>
      </ng-container>

      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <button
            type="reset"
            class="btn btn-outline-warning"
            [style.width.%]="100"
          >
            Limpar campos
          </button>
        </div>
        <div class="col-lg-6 col-sm-12">
          <button
            type="submit"
            class="btn btn-primary"
            [style.width.%]="100"
            [disabled]="!candidatoForm.valid"
          >
            Salvar!
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
