/* You can add global styles to this file, and also import other style files */
body {
  font-size: 14px !important;
  color: #495057 !important;
  background-color: #FAFAFA !important;
}

label,
span {
  font-size: 12px;
}

h2,
h3,
h4 {
  color: #495057;
}
.helpers {
  &-centered {
    margin: 0 auto;
    display: block;
  }
  &-color-default {
    color: #495057;
  }
  &-size {
    &-14 {
      font-size: 14px;
    }
    &-16 {
      font-size: 16px;
    }
  }
  &-padding-tb {
    padding: 2rem 15px;
  }
  &-bg-white {
    background-color: white;
  }
}

.no-padding {
  padding: 0;
}